/* MENU */
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
.menu{
    text-align: center;
    margin: auto;
    background-color: #175972; 
    font-weight: bold;
    margin: auto;
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
    color: white;
    /* MENU FIXO */
    position: fixed;
    top: 0;
    z-index: 999;
}
.menu a{
    text-decoration: none;
    color: white;
}
.empresa p{
    margin: 15px;
}
#logo img{
    width: 60px;
}

.itens{
    display: none;
    list-style-type: none;
    flex-direction: column; 
    text-align: left;
    position: fixed;
    background-color: #175972;
    margin-top: 25px; 
    height: 100%;
    padding: 40px;
    left: 0;
    /* left: -220px;
    top: 143px;
    position: absolute;
    padding: 20px;
    padding-right: 70px;
    height: 100%;
    margin-top: 40px;
    text-align: left;
    background-color: #175972; 
    box-shadow: 1px 3px 1px 1px rgba(0, 0, 0, 0.286);
    transform: translateX(220px);
    transition: 2s ease;  */
} 
.itens li{
    margin-top: 20px;
}

.itens li:hover{
    background-color: #34bcee3f; 
}
.itens-2{
    display: none;
    text-align: center;
    list-style-type: none;
    flex-direction: column;
}
.itens li{
    padding: 10px;
}
#icon-menu{
    float: left;
}
/* BEM-VINDO A ASTSER */

.content{
    display: flex;
    min-height: 350px;
    margin-top: 170px;
}
.div-content{
    display: flex;
    width: 100%;
    background-image: url("images/global2.png");
    background-size: cover;
    background-position: left;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-left: 15px;
}
#title-content{
    margin-bottom: 20px;
    font-weight: bold;
    color: white;
}
#title-content span{
    color: #175972;
    font-weight: bold;
}
#paragraph-content p{
    margin-right: 150px;
    color: rgba(255, 255, 255, 0.797);
}
.btn-content{
    margin-top: 30px;
}
.btn-content div:nth-child(2){
    background-color: white;
}
.btn-content div:nth-child(2) a{
    color: #175972;
}
.btn-content div:nth-child(2):hover{
    background-color: #34bcee3f;
}
.btn-content div:nth-child(2) a:hover{
    color: white;
}
.btn{
    display: inline-block;
    background-color: #175972;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    margin: 6px;
    max-width: 25%;
    font-size: 12px;
    cursor: pointer;
}
.btn a{
    text-decoration: none;
    color: white;
}
.btn:hover{
    background-color: #34bcee3f;
    color: rgb(255, 255, 0);
    font-weight: bold;
    transition: 1s;
} 
/* QUEM SOMOS */

.who-we{
    color: rgb(0, 0, 0);
    text-align: left;
}
.who-content{
    padding-left: 5px;
    margin: 10px;
}
.who-content h2{
    font-weight: bold;
    color: #175972;
    margin-bottom: 20px;
}
.who-img img{
    width: 100%;
}
/* SOLUÇÕES */
.solucoes{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 15px;
    padding: 20px;
    color: rgb(0, 0, 0);
    background-color: rgba(128, 128, 128, 0.126);
}
.solucoes h2{
    font-weight: bold;
    color: #175972;
    margin-bottom: 20px;
}
.solucoes-content{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    color: white;
}
.solucoes-itens{
    border: 1px solid #175972;
    border-radius: 10px;
    padding: 15px;
    background-color: #175972;
    margin-bottom: 20px;
}
.solucoes-itens h3{
    text-align: center;
    margin: 10px;
}
.icon-img{
    display: flex;
    justify-content: center;
}
.icon-img img{
   max-width: 90px;
}
/* CLIENTES */
.clients{
    padding-left: 15px;
    margin-top: 25px;
}
#title-clients{
    text-align: left;
    font-weight: bold;
    color: #175972;
}
.card-client{
    display: flex;
    flex-direction: column;
}
.img-clients{
    margin: auto;
    margin-top: 50px;
}
.img-clients img{
    display: flex;
    width: 160px;
    margin: auto;
    padding-bottom: 40px;
}

/* RESPONSIVIDADE MENU */

@media (min-width:700px) {
    .content{
        margin-top: 95px;
    }
    .traco{
        width: 1px;
        height: 50px;
        margin-left: 10px;
        background-color: white;
    }
    .empresa{
        display: flex;
        align-items: center;
    }
    .menu{
        display: flex;
        justify-content: space-around;
        font-size: 15px;
        align-items: center;
        padding: 10px;
    }
    #icon-menu{
        display: none;
    } 
    .itens{
        position: none;
        display: none;
    }
    .itens li{
        display: none;
    }
    .itens-2{
        display: flex;
        flex-direction: row;
    }
    .itens-2 li{
        margin: 20px;
    }
    .itens-2 a:hover{
        background-color: #34bcee3f; 
        border-radius: 15px;
        transition: 1.0s;
    }
}
@media (min-width:1000px) {
    /* MENU */
    .itens{
        position: none;
        display: none;
    }
    .itens-2 li{
        margin-left: 50px;
        margin-right: 50px;
    }
    .traco{
        width: 1px;
        height: 50px;
        margin-left: 30px;
        background-color: white;
    }
    #logo{
        margin-left: 10px;
    }
    /*  QUEM SOMOS */
    .who-we{
        display: flex;
    }
    .who-content{
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        font-size: 20px;
    }
    .who-img img{
        min-width: 50%;
    }
}
@media (min-width:1200px) {
    .menu{
        font-size: 17px;
        padding: 10px;
    }
    .solucoes{
        font-size: 20px;
        align-items: center;
    }
    .solucoes-content{
        flex-direction: row;
        justify-content: center;
    }
    .solucoes-itens{
        margin: 23px;
        width: 25%;
        font-size: 17px;
    }
    .solucoes-exp{
        display: flex;
        flex-direction: column;
        width: 50%;
        justify-content: center;
        margin-right: 500px;
    }
    .card-client{
        align-items: center;
    }
    .client-content{
        display: flex;
        justify-content: center;
        margin: 23px;
    }
    #title-clients{
        display: flex;
        flex-direction: row;
        width: 50%;
        margin-right: 500px;
        font-size: 23px;
    }
    .img-clients{
        width: 20%;
        display: flex;
        margin: 25px;
        flex-direction: column;
    }
    /* .img-clients:first-child img{
        margin-bottom: 120px;
    } */
}
/* RESPONSIVIDADE CONTENT */

@media (min-width:1500px) {
    .content{
        min-height: 500px;
    }
    .div-content{
        align-items: center;
    }
    .btn{
       font-size: 17px;
    }
    .words-content{
        width: 50%;
        display: flex;
        font-size: 25px;
        flex-direction: column;
        justify-content: center;
        margin-right: 500px;
    }
    .who-img{
        width: 1200px;
        margin-right: 160px;
    }
    .who-img img{
        width: 600px;
    }
    .who-content{
        margin-left: 385px;

    }
    .solucoes-itens{
        width: 15%;
    }
}